.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   background-color:wheat;
   border-style: ridge;
   border-color: darkviolet;
}
#header {
    size: 100px;
}
